<h2><%= facade.food_count %> results for <%= facade.ingredient %><h2>
<section>
  <ul>
    <% facade.foods.each do |food| %>
      <section class="food_list">
        <li>
          <h3 class="food_list-name"><%= food.name %></h3>
          <ul>
            <li class="food_list-ndb_number">NDB number: <%= food.ndb_number %></li>
            <li class="food_list-food_group">Food group: <%= food.food_group %></li>
            <li class="food_list-manufacturer">Manufacturer: <%= food.manufacturer %></li>
            <li class="food_list-data_source">Data source: <%= food.data_source %></li>
          </ul>
        </li>
      </section>
    <% end %>
  </ul>
</section>
